body {
  text-align: center;
}

.bird {
  display: inline-block;
  box-sizing: border-box;
  width:30%;
  margin: 20px;
  border: 2px;
  padding: 5px;
  background-color: rgb(122, 183, 240);
  object-position: left;
  object-fit: cover;
}